.trash-button {
  float: left;
  margin-left: -25px;
}

#modal-window-elem-edit {
  .tomato-estim {
    & + label {
      background: url('../img/tomato-variants.png') 89% 15%;
      width: 21px;
      height: 19px;
      display: inline-block;
    }
    &:checked {
      & + label {
        background: url('../img/tomato-variants.png') 89% 90%;
      }
    }
    &:hover {
      & + label {
        background: url('../img/tomato-variants.png') 89% 90%;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .add-task-modal {
    width: 90%;
    min-width: 300px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
  }

  .modal-window span {
    font-size: 12px;
  }

  .modal-functionality.check-button {
    margin-right: 0;
  }

  .modal-wrapper {
    background: #2a3f50;
  }

  .modal-window {
    padding: 0;
  }
}