.log-out-form-wrapper, .sign-up-complete-wrapper {
  position: absolute;
  top: -200px;
  left: 50%;
  background: linear-gradient(rgba(8, 41, 63, 0.92), rgba(8, 41, 63, 0.92));
  width: 25%;
  text-align: center;
  padding: 10px 20px;
  transition-duration: 1s;
  transform: translate(-50%);
  min-width: 300px;
}

.close-log-out-form {
  position: absolute;
  right: 5%;
  top: 5%;
}

.log-out-form-wrapper-appearance, .sign-up-complete-appearance {
  top: 20%;
  position: fixed;
}

.log-out-warning, .sign-up-complete-notification {
  font-family: @font-family-sans;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 50px;
}

.log-out-btn, .sign-up-complete-btn {
  background: @red;
  color: white;
  width: 125px;
  height: 45px;
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  margin: 30px auto 30px;
}

@media (max-width: 1024px) {
  .log-out-form-wrapper {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .log-out-form-wrapper {
    width: 90%;
  }
}