#wrapper {
  position: relative;
}

ul.tabNavigation {
  clear: both;
}

.added-task {
  display: none;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  .add-task-logo {
    margin: 30px 0;
  }
}

.daily-task-list {
  padding: 0;
  .icons {
    margin-right: 0 !important;
  }
}

#daily-task-list h1 {
  color: @white-color;
  text-align: center;
  margin-bottom: 40px;
  clear: both;
  font-family: @font-family-sans;
  font-weight: bold;
}

.add-task-logo {
  font-size: 36px;
  color: @white-color;
  font-weight: normal;
  text-align: center;
  margin: 40px 0;
  clear: both;
}

.add-task-header {
  vertical-align: baseline !important;
}

.add-task-sect {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.add-indicator {
  margin-top: 30px;
  font-size: 60px;
}

.toggle-doneable {
  color: @middle-grey;
  margin-bottom: 20px;
  float: right;
  button {
    padding: 0 10px;
    font-size: 16px;
    color: @light-blue;
    font-family: @font-family-roboto-light;
    &:hover {
      color: @white-color;
    }
  }
  .to-do {
    color: @white-color;
  }
}

.edit-group {
  height: 100%;
  float: left;
  width: 90px;
  padding: 2.5%;
}

.color-circle-group {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffb200;
  margin-left: -6px;
  padding: 5px;
  display: none;
}

.inner-circle {
  border: 2px solid #2a3f50;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.btn-wrap {
  margin-bottom: 30px;
  float: left;
  clear: both;
}

#globalTasks {
  clear: both;
}

.global-name {
  font-size: 20px;
  color: @light-bluish;
  font-family: @font-family-roboto;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}

.global-list {
  margin-top: 50px;
}

.global-list-btn {
  width: 17px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  margin-top: 40px;
  display: inline;
  margin-right: 10px;
  i {
    font-size: 10px;
    height: 27px;
    width: 24px;
    font-weight: normal;
  }
}

.opportunity-select {
  color: @light-bluish;
  clear: both;
  float: left;
  margin-bottom: 60px;
  button {
    color: @light-bluish;
    font-size: 16px;
    font-family: @font-family-roboto-light;
    &:hover {
      color: @white-color;
    }
  }
}

.visit-timer {
  &:hover {
    & + .hint {
      display: block;
    }
  }
  i {
    color: @white-color;
    font-size: 45px;
  }
}

.add-task {
  background: none;
  color: @white-color;
  margin-left: 5px;
  vertical-align: bottom;
  i {
    vertical-align: top;
  }
}

.ui-tabs-anchor {
  font-weight: normal;
}

.priority-list {
  margin-top: 46px;
  float: right;
  color: @light-blue;
  button {
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    color: @light-grey-blue;
    font-family: @font-family-roboto-light;
    &:hover {
      color: @white-color;
    }
  }
}


.extended-functionality {
  .task-description {
    position: relative;
  }
  .editors {
    position: absolute;
    top: 17%;
    left: 95%;
    padding: 0 2.5%;
    .edit {
      float: none;
      top: 0;
    }
  }
}

.delete-btn {
  float: left;
}

.remove-btn-icon {
  width: 40px;
  height: 40px;
}

.color-circle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 7px;
  margin-left: 7px;
}

.cross-btn {
  margin-right: 5px;
}

.button-hint-group {
  cursor: pointer;
}

.visual-divider {
  vertical-align: text-top;
  font-size: 13px;
  font-weight: bold;
  color: #8da5b8;
}


@media screen and (max-width: 640px) {
  .add-task {
    vertical-align: text-top;
  }

  .tab-links {
    font-size: 14px;
  }

  .toggle-doneable {
    margin-right: 3%;
  }

  .daily-task-list .icons {
    right: 0;
  }

  .priority-list {
    margin-top: 43px;
  }

  .priority-list button {
    font-size: 14px;
  }

  .global-name {
    font-size: 16px;
  }

  .fixed-logo .icons {
    right: 6%;
  }

}

@media screen and (max-width: 740px) {
  ul.tabNavigation {
    top: 100px;
  }

  .task .indicator {
    left: -72px;
  }

  .remove-task-modal .modal-functionality {
    margin-right: 15%;
  }

  .opportunity-select {
    width: 50%;
  }

  .daily-task-list .group-btn button {
    margin-left: 15px;
  }

  .fixed-logo .icons {
    right: 3%;
  }

  .daily-task-list h1 {
    display: inline;
    font-size: 21px;
  }

  .date-indicator, .task .indicator {
    width: 80px;
  }

  .daily-task-list, .tasks-intro, #global-tasks, .btn-wrap, .priority-list, .select-all {
    padding-right: 2%;
    padding-left: 2%;
  }

  .select-all {
    padding-right: 0;
  }

  .daily-task-list .icons {
    right: 0.5%;
  }

}

@media (max-width: 385px) {
  .priority-indicator {
    width: 75px;
  }

  .align-button {
    right: 6em;
  }
}