//@dark-grey: #566978;
//@dirty-blue: #8ca4b7;
//@white-color: white;
//@light-blue: #8da5b8;
//@middle-blue: #5c7284;
//@dark-grey: #9f9f9f;
//@grey: #7f7f7f;
//@orange: #ffb200;
//@deep-blue: #59abe3;
//@light-white: #8ea5b8;
//@light-white2: #88a0b3;
//@color-1: #d7dadc;
//@color-2: #8da5b8;
//@red: #f75c4c;
//@dark-orange: #e67e22;
//@deep-yellow: #fddc43;
//@deep-sea: #1abc9c;
//@color-2: #8da5b8;
//@color-3: #82C7E0;
//@color-4: #3c5162;
//@light-azure: #8da5b8;
//@sky-blue: #59abe3;
//@turquise: #00d4d9;
//@greyish: #c1c3c6;
//@azure: #c1c3c6;
//@deep-dark-blue: #5b7284;
//@color-1: rgb(142, 165, 184);
//@light-bluish: #8da5b8;
//@transparent: transparent;
//
//@font-family-sans: 'PT Sans', sans-serif;
//@font-family-roboto: 'Roboto', sans-serif;
//@font-family-roboto-light: 'Roboto-Light', sans-serif;
//@font-family-roboto-bold: 'Roboto-Bold', sans-serif;
//
//@font-family-sans-bold: 'PTSans-Bold', sans-serif;
//@font-family-roboto-medium: 'Roboto-Medium', sans-serif;
//@font-family-roboto-regular: 'Roboto-Regular', sans-serif;
//
//@width3: 3px;
//@width5: 96%;
//@height1: 100%;
//@height5: 3px;




@dark-grey: #566978;
@dirty-blue: #8ca4b7;
@white-color: white;
@orange: #ffb200;
@red: #f75c4c;
@dark-orange: #e67e22;
@deep-yellow: #fddc43;
@grey: #9f9f9f;
@dark-grey: #7f7f7f;
@turquoise: #00d4d9;
@deep-sea: #1abc9c;
@light-bluish: #8da5b8;
@middle-grey: #5c7284;
@sky-blue: #59abe3;
@light-grey-blue: #8ea5b8;
@lightest-grey: #d7dadc;
@light-blue: #82C7E0;
@light-grey: #c1c3c6;
@darkest-grey: #3c5162;
@deep-darkest-blue: #5b7284;
@transparent: transparent;

@font-family-sans: 'PT Sans', sans-serif;
@font-family-roboto: 'Roboto', sans-serif;
@font-family-roboto-light: 'Roboto-Light', sans-serif;
@font-family-roboto-bold: 'Roboto-Bold', sans-serif;

@font-family-sans-bold: 'PTSans-Bold', sans-serif;
@font-family-roboto-medium: 'Roboto-Medium', sans-serif;
@font-family-roboto-regular: 'Roboto-Regular', sans-serif;

@width3: 3px;
@width5: 96%;
@height1: 100%;
@height5: 3px;

