<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Timer</title>
</head>
<body>
<div id="wrapper">
    <div class="arrow-button">
        <button type="submit" class="prev-btn tooltip" data-tooltip='Go to Global List'><i class="icon-arrow-left"></i>
        </button>
    </div>
    <div class="icons"></div>
    <section class="timer-content">
        <h3 class="task-title-timer"></h3>
        <p class="task-description-timer"></p>
        <ul class="pomodoros"></ul>
    </section>
    <div class="next-arrow">
        <button type="submit" class="tooltip tooltip-right" data-tooltip="Go to Reports"><i class="icon-arrow-right"></i></button>
    </div>
</div>
</body>
</html>
