<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Timer</title>
</head>
<body>
<div id="wrapper">
    <div class="arrow-button">
        <button type="submit" class="prev_btn tooltip" data-tooltip='Go to Global List'><i class="icon-arrow-left"></i></button>
    </div>
    <div class="icons">
        <div class="group-btn ">
            <button type="submit" class="reports-switcher tooltip" data-tooltip="Go to Reports"><i
                    class="icon-statistics"></i>
            </button>
        </div>
        <div class="group-btn ">
            <button type="submit" class="settings-switcher tooltip tooltip-right" data-tooltip="Go to Settings"><i
                    class="icon-settings"></i></button>
        </div>
        <div class="group-btn ">
            <button type="submit" class="log-out tooltip tooltip-right" data-tooltip="Log Out"><i
                    class="icon-logout"
            ></i></button>
        </div>
    </div>
    <section class="timer-content">
        <h3>1.Creating a New Design</h3>

        <p class="task-description-timer">Lorem ipsum dolor sit amet consectetur adipiscing</p>
        <ul class="pomodoros">
            <li class="pomodoro"></li>
            <li class="pomodoro"></li>
            <li class="pomodoro"></li>
        </ul>
    </section>
    <!--<div class="next-arrow">-->
    <!--<button type="submit" class="next-btn"><i class="icon-arrow-right"></i></button>-->
    <!--</div>-->
</div>
<script src="timer.js"></script>
</body>

</html>
