<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <title>Title</title>
</head>
<body>
<div id="bottom-notifications">
    <div class="bottom-notifications">
        <div class="message bottom-message successful-message-wrapper message-success">
            <div class="pomodoro-logo successful-message"></div>
            <p class="message-content">Task was successfully created!</p>
        </div>
        <div class="message bottom-message notification-message-wrapper message-info">
            <div class="pomodoro-logo notification-message"></div>
            <p class="message-content">Removal of Tasks is canceled!</p>
        </div>
        <div class="message bottom-message error-message-wrapper message-delete">
            <div class="pomodoro-logo error-message"></div>
            <p class="message-content">Selected Tasks are Deleted!</p>
        </div>
        <div class="message bottom-message warning-message-wrapper message-warn">
            <div class="pomodoro-logo warning-message"></div>
            <p class="message-content">Task is pending for removal!</p>
        </div>
        <div class="message bottom-message error-message-wrapper message-error">
            <div class="pomodoro-logo error-message"></div>
            <p class="message-content">Ups! Timer is switched off for Done Tasks!</p>
        </div>
        <div class="message bottom-message completed-message-wrapper message-completed">
            <div class="pomodoro-logo completed-message"></div>
            <p class="message-content">Task was successfully completed!</p>
        </div>
    </div>
</div>
</body>
</html>