<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<li class="task">
    <div class="indicator-wrapper">
        <div class="indicator"></div>
    </div>
    <div class="date-wrapper">
        <time class="date-indicator"><span class="dayDeadline"></span><span class="monthDeadline"></span></time>
    </div>
    <section class="task-description">
        <div class="align-wrapper">
            <h3 class="task-title"></h3>
            <p class="description-content"></p>
        </div>
        <div class="align-button">
            <div class="group-btn">
                <button type="submit" class="move-task tooltip" data-tooltip="Move Task To Daily"></button>
            </div>
            <div class="group-btn">
                <button type="submit" class="edit tooltip" data-tooltip="Edit Task"></button>
            </div>

        </div>
    </section>
    <div class="priority-indicator"><span></span>
    </div>
</li>
</body>
</html>