<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="active-timer.css">
    <title>Title</title>
</head>
<body>
<div class="active-timer">
    <div class="timer-block ">
        <div class="timer-wrapper">
            <div class="timer-part rotator"></div>
            <div class="timer-part invader"></div>
            <div class="dimElem"></div>
            <p class="time"><span class="q-minutes"></span><span class="measurement">min</span></p>
        </div>
    </div>
    <div class="group-buttons">
        <button type="submit" class="timer-btn fail-pomodora-btn">Fail Pomodora</button>
        <button type="submit" class="timer-btn finish-pomodora-btn">Finish Pomodora</button>
    </div>
</div>
</body>
</html>