<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="break-timer-css/break-timer.css">
    <title>Title</title>
</head>
<body>
<div class="break-timer">
    <div class="timer-block timer-break-running">
        <div class="timer-wrapper">
            <div class="timer-part rotator"></div>
            <div class="timer-part invader"></div>
            <div class="dimElem"></div>
            <p class="time"><span class="q-minutes">5</span><span class="measurement">min</span></p>
        </div>
    </div>
    <div class="group-buttons break-buttons">
        <button type="submit" class="timer-btn start-pomodora-btn">Start Pomodora</button>
        <button type="submit" class="timer-btn finish-task-btn">Finish Task</button>
    </div>
</div>
</body>
</html>