<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <form name="registration-form" class="form-registration">
        <h2>Registration Form</h2>
        <input type="text" class="email registration-field" placeholder="Type your email">
        <input type="password" class="password registration-field" placeholder="Type your password">
        <input type="text" class="mobile-phone registration-field" placeholder="Type your mobile phone">
        <button type="submit" class="submit-btn sign-up center-btn submit-sign-up">Sign Up</button>
    </form>
</div>
</body>
</html>