<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-icons">
    <div class="group-btn ">
        <button type="submit" class="tasks-list-icon tooltip" data-tooltip="Go to Tasks List"><i
                class="icon-tomato-success"
                aria-hidden="true"></i>
        </button>
    </div>
    <div class="group-btn ">
        <button type="submit" class="reports-switcher tooltip tooltip-right" data-tooltip="Go to Reports"><i
                class="icon-statistics"></i>
        </button>
    </div>
    <div class="group-btn ">
        <button type="submit" class="settings-switcher tooltip tooltip-right" data-tooltip="Go to Settings"><i
                class="icon-settings"></i></button>
    </div>
    <div class="group-btn ">
        <button type="submit" class="log-out tooltip tooltip-right" data-tooltip="Log Out"><i class="icon-logout"
        ></i></button>
    </div>
</div>
</body>
</html>